<div id="ladodireito">

  <h2>Concluir Suportes</h2><br>

  <% for suporte in @suportes %>
      
    <div id = "relatoriosuporte">
      <% if suporte.concluido? %>
      
      <% else %>
        <div class="linharealatoriosuporte">
          <h2><%= link_to suporte.usuario.nome %></h2>
          <p class="datasuporte"><%= suporte.data.to_s_br %></p><br>
          
          <p><%= suporte.problema %></p>
          
            <div id = "botoesrelatorio">
              <%= link_to 'Concluir', concluir_suporte_path(suporte) %>
            </div>
        </div>
      <%end%>
    </div>
 <% end %>
 
   <%= link_to '', adminsuporte_suportes_path, :class => "voltar"%>

</div>
