<div id="ladodireito">
  
  <h2> 
    <%= @suporte.usuario.nome %> <%= @suporte.usuario.sobrenome %> 
  </h2><br>
  
  
  <p>
    <b>Data</b>
    <%= @suporte.data.to_s_br %>
  </p>
 
  <p>
    <b>Problema:</b>
    <%= @suporte.problema %>
  </p>
  
  
  <% if can? :manage, :all %>
    <p>
      <b>Data conclusao:</b>
      <%= @suporte.data_conclusao.to_s_br %>
    </p>

    <p>
      <b>Conclusao:</b>
      <%= @suporte.conclusao %>
    </p>
    
    <br><br>
    
	  <li><a><%= link_to 'Voltar', adminsuporte_suportes_path %></a></li>
	<% else %>
	  
	  <br><br>
	  <li><a><%= link_to 'Voltar', root_path %></a></li>
	<% end %>

</div>





