<h1>Novidades</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Resumo</th>
    <th>Conteudo</th>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @novidades.each do |novidade| %>
  <tr>
    <td><%= novidade.titulo %></td>
    <td><%= novidade.resumo %></td>
    <td><%= novidade.conteudo %></td>
    <td><%= novidade.data %></td>
    <td><%= link_to 'Ver', novidade %></td>
    <td><%= link_to 'Editar', edit_novidade_path(novidade) %></td>
    <td><%= link_to 'Apagar', novidade, confirm: 'Deseja realmente apagar?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Criar Novidade', new_novidade_path %>
