<div id="ladodireito">
  <h2>Consultar e Relatório Parceiros</h2>
  <br>  
  
  <div id='consulta'> 
   <%= form_tag consultar_parceiros_path, method: :get do %>
     <%= label_tag :nome, 'Busca por nome' %>
     <%= text_field_tag :nome %>
     <%= submit_tag 'Buscar' %>
   <% end %>
  </div>

  <% @parceiros.each do |parceiro| %>
    <div id = "relatorioparceiro">
      <h2><%= parceiro.nome %></h2>
      <p><%= parceiro.endereco %></p>
      <br>
    </div>
  <% end %>
  
  
  <%= link_to '', consultar_relatorio_administracoes_path, :class => "voltar"%>
</div>
