<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Murilo Manhães - Soluções em Informática</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/assets/favicon.ico" >
</head>
<body>

<div id="tudo">
       		
  		<div id="cabecalho">
		
		  <div id="logo">   </div>

  		<div id="menu">
				<ul>
				  <% if usuario_signed_in? %>
				    <li><a><p class="ola">Olá</p> <p class="usuarionome"><%= current_usuario.nome %> <%= current_usuario.tipo %></p></a></li>
				  <% end %>
       
          
				  <li><%= link_to "Inicial",root_path , :class=> "inicio" %></li>
				  <li><%= link_to "Quem Somos",somos_path , :class=> "somos" %></li>
				  <li><%= link_to "Computadores", computadores_path, :class => "computadores" %></li>
				  <li><%= link_to "Sites", sites_path, :class => "sites" %></li>
				  <li><%= link_to "Contato", new_contato_path, :class => "contato"%></li>
				  
				  <% if usuario_signed_in? %>
				  
				  <%else%>
				    <li><%= link_to "Login", usuario_session_path, :class => "sites" %></li>
				  <% end %>
				  
				  
          <% if usuario_signed_in? %>
          
            <li><%= link_to 'Sair', destroy_usuario_session_path, method: :delete, :class => "sair"  %></li>
          
          <% else %>
          
            <li><%= link_to "Cadastra-se", new_usuario_registration_path, :class => "cadastrar" %></li>
				  
				  <% end %>
				  
				</ul>
			</div>

			<div id="menu2">
				<ul class="link">
					<li><%= link_to "Serviços", servicos_path %></li>
					<li class="suporte">
					  <% if can? :manage, :all %>
					    <%= link_to "Suporte", adminsuporte_suportes_path %>
					  <% else %>
					    <%= link_to "Suporte", new_suporte_path %></li>
					  <% end %>
					<li class="solucoes"><%= link_to "Soluções",solucoes_path %></li>
				</ul>
			</div>

		</div>
		
		<div id="conteudo">
		
		      <% if notice %>
             <div id='notice'>
                <h1>Aviso</h1>
                <p><%= notice %></p>
             </div>
          <% end %>

          <% if alert %>
             <div id='alert'>
               <h1>Erro</h1>
               <p><%= alert %></p>
             </div>
          <% end %>
          
                   

      <%= yield %>
      
    </div>


</div>

    <div id="rodape">
			    <ul>
			      <li><%= link_to "Inicial",root_path%>|</li>
			      <li><%= link_to "Quem Somos",somos_path %>|</li>
			      <li><%= link_to "Computadores",computadores_path %>|</li>
			      <li><%= link_to "Sites", sites_path %>|</li>
			      <li><a href="#">Contato</a></li>
			      
			      <% if usuario_signed_in? %>
				  
				    <%else%>
				      <li>|<%= link_to "Login", usuario_session_path%></li>
				    <% end %>
				    
			      <% if usuario_signed_in? %>
          
              <li>|<%= link_to 'Sair', destroy_usuario_session_path, method: :delete %></li>
          
            <% else %>
          
              <li>|<%= link_to "Cadastra-se", new_usuario_registration_path %></li>
				  
				    <% end %>
			    
			    </ul>
			    
			    <p>&copy; Murilo Manhães. Todos os direitos reservados.</p>
			
    </div>
</body>
</html>
